In [21]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /Users/mel/miniconda3/lib/python3.10/site-packages (1.2.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/mel/miniconda3/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /Users/mel/miniconda3/lib/python3.10/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: numpy>=1.17.3 in /Users/mel/miniconda3/lib/python3.10/site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: joblib>=1.1.1 in /Users/mel/miniconda3/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [23]:
df = pd.read_csv('insuranceCleanedFinal.csv')
df.head()

   age     sex    bmi  children smoker     region   charges
0   19  female  27.90         0    yes  southwest  16884.92
1   18    male  33.77         1     no  southeast   1725.55
2   28    male  33.00         3     no  southeast   4449.46
3   33    male  22.70         0     no  northwest  21984.47
4   32    male  28.88         0     no  northwest   3866.86

In [24]:
>>> df=pd.read_csv('insuranceCleanedFinal.csv')

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [26]:
modelLR = LinearRegression()
modelNN = MLPRegressor()
modelRF = RandomForestRegressor

## Age vs Charges

In [27]:
X = df.iloc[:,0:1]
y= df.iloc [:,6]

In [28]:
X

      age
0      19
1      18
2      28
3      33
4      32
...   ...
1326   50
1327   18
1328   18
1329   21
1330   61

[1331 rows x 1 columns]

In [29]:
y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1326    10600.55
1327     2205.98
1328     1629.83
1329     2007.94
1330    29141.36
Name: charges, Length: 1331, dtype: float64

In [30]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y, test_size= 0.2, random_state =1)

In [31]:
Xtest

      age
1258   49
325    27
930    32
1020   47
1154   32
...   ...
8      37
241    55
283    52
315    50
452    20

[267 rows x 1 columns]

In [32]:
ytest

1258    10370.91
325      3561.89
930      4673.39
1020     8569.86
1154     3989.84
          ...
8        6406.41
241     35160.13
283      9625.92
315      8835.26
452      1769.53
Name: charges, Length: 267, dtype: float64

In [33]:
modelLR.fit(Xtrain,ytrain)

LinearRegression()

In [34]:
print(modelLR.score(Xtest,ytest))
print("Model coefficients:", modelLR.coef_)
print("Model intercept:", modelLR.intercept_)

0.08467484800183434
Model coefficients: [255.72028158]
Model intercept: 3203.888652878315

In [35]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [38]:
y_pred = modelLR.predict(Xtest)

In [40]:
mse = mean_squared_error(ytest, y_pred)
mae = mean_absolute_error(ytest, y_pred)
r2= r2 score(ytest, y_pred)
print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Error (MAE):", mae)

Mean Squared Error (MSE): 115680149.13167992
Mean Absolute Error (MAE): 8609.554805990974

In [41]:
>>> df=pd.read_csv('insuranceCleanedFinal.csv')

In [49]:
X = df.iloc[:,3:4]
y= df.iloc [:,6]

In [50]:
X

      children
0            0
1            1
2            3
3            0
4            0
...        ...
1326         3
1327         0
1328         0
1329         0
1330         0

[1331 rows x 1 columns]

In [51]:
y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1326    10600.55
1327     2205.98
1328     1629.83
1329     2007.94
1330    29141.36
Name: charges, Length: 1331, dtype: float64

In [52]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y, test_size= 0.2,)

In [53]:
Xtest

      children
496          2
975          0
926          1
845          0
58           2
...        ...
814          3
518          0
497          2
1250         3
626          0

[267 rows x 1 columns]

In [54]:
ytest

496      8027.97
975      4889.04
926      2927.06
845     10601.63
58       5989.52
          ...
814      3597.60
518      3857.76
497      8211.10
1250    11436.74
626     42983.46
Name: charges, Length: 267, dtype: float64

In [55]:
modelLR.fit(Xtrain,ytrain)

LinearRegression()

In [56]:
print(modelLR.score(Xtest,ytest))
print("Model coefficients:", modelLR.coef_)
print("Model intercept:", modelLR.intercept_)

-0.01851552971068382
Model coefficients: [1014.21183824]
Model intercept: 11834.127349893643

In [57]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [58]:
y_pred = modelLR.predict(Xtest)

In [60]:
mse = mean_squared_error(ytest, y_pred)
mae = mean_absolute_error(ytest, y_pred)

print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Error (MAE):", mae)

Mean Squared Error (MSE): 154939010.0912938
Mean Absolute Error (MAE): 9405.102022010362