In [4]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.2.2-cp310-cp310-macosx_10_9_x86_64.whl (9.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.1/9.1 MB 16.2 MB/s eta 0:00:0000:0100:01
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.17.3 in /Users/mel/miniconda3/lib/python3.10/site-packages (from scikit-learn) (1.23.5)
Collecting scipy>=1.3.2
  Downloading scipy-1.10.1-cp310-cp310-macosx_10_9_x86_64.whl (35.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.1/35.1 MB 15.8 MB/s eta 0:00:0000:0100:01
Collecting joblib>=1.1.1
  Using cached joblib-1.2.0-py3-none-any.whl (297 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.2.2 scipy-1.10.1 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [52]:
df = pd.read_csv('insuranceCleanedFinal.csv')
df.head()

   age     sex    bmi  children smoker     region   charges
0   19  female  27.90         0    yes  southwest  16884.92
1   18    male  33.77         1     no  southeast   1725.55
2   28    male  33.00         3     no  southeast   4449.46
3   33    male  22.70         0     no  northwest  21984.47
4   32    male  28.88         0     no  northwest   3866.86

In [42]:
>>> df=pd.read_csv('insuranceCleanedFinal.csv')

In [142]:
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [143]:
modelLR = LinearRegression()
modelNN = MLPRegressor()
modelRF = RandomForestRegressor

## Age vs Charges

In [205]:
X = df.iloc[:,0:1]
y= df.iloc [:,6]

In [206]:
X

      age
0      19
1      18
2      28
3      33
4      32
...   ...
1326   50
1327   18
1328   18
1329   21
1330   61

[1331 rows x 1 columns]

In [207]:
y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1326    10600.55
1327     2205.98
1328     1629.83
1329     2007.94
1330    29141.36
Name: charges, Length: 1331, dtype: float64

In [208]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y, test_size= 0.2, random_state =1)

In [209]:
Xtest

      age
1258   49
325    27
930    32
1020   47
1154   32
...   ...
8      37
241    55
283    52
315    50
452    20

[267 rows x 1 columns]

In [210]:
ytest

1258    10370.91
325      3561.89
930      4673.39
1020     8569.86
1154     3989.84
          ...
8        6406.41
241     35160.13
283      9625.92
315      8835.26
452      1769.53
Name: charges, Length: 267, dtype: float64

In [211]:
modelLR.fit(Xtrain,ytrain)

LinearRegression()

In [212]:
print(modelLR.score(Xtest,ytest))
print("Model coefficients:", modelLR.coef_)
print("Model intercept:", modelLR.intercept_)

0.08467484800183434
Model coefficients: [255.72028158]
Model intercept: 3203.888652878315

In [183]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [184]:
y_pred = modelLR.predict(X_test)

In [204]:
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Error (MAE):", mae)

Mean Squared Error (MSE): 152452264.39362127
Mean Absolute Error (MAE): 9548.26200821002

In [266]:
>>> df=pd.read_csv('insuranceCleanedFinal.csv')

In [267]:
X = df.iloc[:,2:3]
y= df.iloc [:,6]

In [268]:
X

        bmi
0     27.90
1     33.77
2     33.00
3     22.70
4     28.88
...     ...
1326  30.97
1327  31.92
1328  36.85
1329  25.80
1330  29.07

[1331 rows x 1 columns]

In [269]:
y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1326    10600.55
1327     2205.98
1328     1629.83
1329     2007.94
1330    29141.36
Name: charges, Length: 1331, dtype: float64

In [270]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y, test_size= 0.2,)

In [271]:
Xtest

        bmi
789   23.18
308   33.06
630   22.70
564   40.56
485   21.47
...     ...
1190  27.93
124   28.78
1018  36.08
481   31.35
547   46.20

[267 rows x 1 columns]

In [272]:
ytest

789      2731.91
308      7749.16
630      7173.36
564      6373.56
485     12475.35
          ...
1190    18838.70
124      3385.40
1018    42211.14
481      1622.19
547     45863.20
Name: charges, Length: 267, dtype: float64

In [273]:
modelLR.fit(Xtrain,ytrain)

LinearRegression()

In [274]:
print(modelLR.score(Xtest,ytest))
print("Model coefficients:", modelLR.coef_)
print("Model intercept:", modelLR.intercept_)

0.03616038511379427
Model coefficients: [350.36015437]
Model intercept: 2506.291548504636

In [275]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [277]:
y_pred = modelLR.predict(Xtest)

In [278]:
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Error (MAE):", mae)

Mean Squared Error (MSE): 160702741.0725773
Mean Absolute Error (MAE): 9478.738921263488